.navigation {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  padding-top: 30px;
  border-top: #646a82 solid thin;
}
.navigation ul a{
  margin-bottom: '10px';
  color:white;
  text-decoration: none;
}

.navigation ul{
  margin-bottom: 25px;
}

.navigation ul a:hover{
  text-decoration: none;
}
.has-sub {
  line-height: 26px;
  margin-bottom: 5px;
  font-size: 23px;
}
.bm-cross-button {
  display:none;
}
.navigation ul,
.navigation ul li,
.navigation ul ul {
  line-height: 22px;
  list-style: none;
}

.navigation ul ul a {
  color:#e8eefb;
  line-height: 25px;

}


.ReactVirtualized__Table:focus {
  outline: 0;
 
}
.modal-dialog{
  max-width: 1000px !important;
}

.ReactVirtualized__Table__headerColumn {
  font-size: 12px;
  word-wrap: normal;
  line-height:30px;
  text-overflow: clip;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}



.ReactVirtualized__Table__headerTruncatedText {
  text-overflow: clip !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
  white-space: normal !important;
}

.ReactVirtualized__Table__row {
  border-bottom: solid thin #bdbdbd;
  text-align: center;
  border-right: solid thin #bdbdbd;
  border-left: solid thin #bdbdbd;
  font-size: 17px;
}


.ReactVirtualized__Table__row:nth-child(even) {
  background-color: #e0e7f5;
}

.ReactVirtualized__Table__row:nth-child(odd) {
  background-color:  #becae2;
}

.ReactVirtualized__Table__row :last-child {
  border-radius: 0px 0px 10px 10px;

}
.ReactVirtualized__Table__rowColumn {
  word-wrap: break-word;
  white-space: normal !important;
}
.ReactVirtualized__Table__headerRow {
  text-align: center;
  background-color: #373a47;
  color: white;
  font-weight: 200 !important;
  padding-top: 5px;
  height: 45px !important;
  border: solid thin 373a47;
  border-radius: 10px 10px 0px 0px;
}
.wistia_swatch_react {
  transition:opacity 200ms;
}

.rbt-input-hint-container input {
  width: 100% !important;
}

.react-datepicker__time-list {
  padding: 0 !important;
}

.loginForm {
  background: rgba(55,58,71,0.8);
  border: 1px solid #373a47;
  color: #bdbdbd;
  border-radius: 10px;
  height: 450px;
  font-size:18px;
  margin: 100px auto 0;
  width: 450px;
  padding: 20px;
  opacity: 80%;
}

.loginForm span {
  font-size: 20px;
}


.defaultForm {
  background: #273548;

  border-radius: 15px;
  width: 70%;
  padding: 20px;

}

.defaultForm span {
  font-size: 20px;
}

.defaultForm label{
  color: #e8eefb;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.formBtnCont {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}


body {
  background-size: cover;
  font-family: Helvetica, sans-serif !important;
  font-weight: lighter !important;
}

.titleBar {
  text-transform: capitalize;
  font-size: 50px;
  color:#373a47;
  margin-top: -19px;
  margin-bottom: 20px;
}

.sentmessage{ 
  padding-top: 10px;
  color: white;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
    font-size: 30px;
}

.formLogo{
  width: 280px;
  height: 186px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: url("images/logo-wason-vert.png");
  background-repeat: no-repeat;
  background-size: 280px 186px;
}

label{
  text-transform: uppercase
}

.listDiv{
  width:40%;
}

.listDiv ul li:nth-child(even) {
  background-color: #f2f2f2
}

.listDiv ul li:nth-child(odd) {
  background-color: #e6e6ff;
}

#emailSpan{
  font-size: 14pt;
  margin-bottom: 10px;
  margin-left: 45px;
}


.tableDiv{
  margin-bottom: 30px;
}

.filterBtn{
  margin-right: 5px;
}

.arrowRight{
  margin-top: 10px;
}

.hidefilterBtn{
  margin-right: 30px;
}

.linkArrow {
  width: 30px;
  height: 30px;
  color: #373a47;
}

.videoRowTitle{
  font-size: 30px;
  color: #373a47;
  margin-bottom: 20px;
  margin-top: 20px;
}

.videoRow{
  
}

.videoRowContainer{
  max-width: 100% !important;
}

.videoCategory{
  border-bottom: solid thin #dadeef;
}

.card-body{
  background: #f5f5f5;
}

.videoRow{
  
}

.imageRowContainer{
  max-width: 100% !important;
  margin-bottom: 50px;
}

.navigationLogo {
  background: url('images/logo-wason.png');
  background-repeat: no-repeat;
    background-size: 294px 70px;
  margin-left: 40px;
  margin-bottom: 20px;

  width: 294px;
  height: 70px;
}

.ReactVirtualized__Table__rowColumn {
  font-size: 12px !important;
}

.filter-enter {
  opacity: 0.01;
  width: 0px;
}

.filter-enter.filter-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.filter-leave {
  opacity: 1;
  width: 100px;
}

.filter-leave.filter-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}


.passwordError{
  background: rgba(55,58,71,0.8);
  border: 1px solid #373a47;
  color: #bdbdbd;
  margin-left: auto;
  margin-right: auto;
  margin-top:15px;
  width:500px;
  border-radius: 15px;
  color: #dadeef;
}

.passwordErrorTxt{
  font-size: 18px;
  color: #bdbdbd;
  text-align: center;
}

.passwordErrorBtn{
  display: flex;
  justify-content: center;
margin-top:10px;
margin-bottom: 10px;
}

.tableCellprivileges{
  text-align: left;
}

.userCard{
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  color: white;
}

.userCardBtn{
  color: white;
}
#logoutBtn{
  margin-left:10px;
}

@media only screen and (max-width: 1000px) {
  .videoRowTitle{
    font-size: 20px;
  }
  .titleBar {
    font-size: 30px;
  }
  h5, .h5 {
    font-size: 1em;
  }
  .ReactVirtualized__Table__headerColumn {
    font-size: 10px !important;

  }

}
/* 
#map {
  height: 360px;
  width: 600px;
  overflow: hidden;
  float: left;
  position: absolute;
  left: 400px;
  border: thin solid #333;
  }
 #capture {
  height: 360px;
  width: 480px;
  overflow: hidden;
  float: left;
  background-color: #ECECFB;
  border: thin solid #333;
  border-left: none;
  } */